fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.0
python-dotenv>=1.0.0
python-multipart>=0.0.9
APScheduler>=3.10.0
requests>=2.31.0
groq>=0.4.0
instagrapi>=2.7.0
python-telegram-bot>=20.0
pillow>=10.0.0
certifi>=2024.2.2
firebase-functions>=0.1.0
firebase-admin>=6.0.0
beautifulsoup4>=4.12.0
